.closeButton {
    margin-left: 25px;
    position: relative;
    &::after {
        bottom: 0;
        content: ' ';
        left: 0;
        margin: -3px;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.link-and-ref {

    margin-bottom: 25px
}